Repository nasa/Transform-to-Open-Science, pull requests merged in 2024-07, with the labels that each got.

#751 Fix typo in OS101 M5 L4.3 How to Share
  Module_5/Lesson_4/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 5, Lesson: 4, OS101 Status: Curriculum, OS101 Status: GitHub

#777 M3 / L1 Benefits of Open Data
  Module_3/Lesson_1/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 3, Lesson: 1, OS101 Status: Curriculum

#780 M1 / L2 Quality and Diversity of Scholarly Communications.
  Module_1/Lesson_2/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 1, Lesson: 2, OS101 Status: Curriculum

#715 Typo in M2-L3 readme.md
  Module_2/Lesson_3/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 2, Lesson: 3, OS101 Status: Curriculum, OS101 Status: GitHub

#783 M1 Key Terms: Citizen Science or Community Science
  Module_1/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 1, OS101 Status: Curriculum

#784 M1 / L2 Benefits to You
  Module_1/Lesson_2/readme.md
  Module_1/images/media/OS101_CJ_Author_Contributions.png
Labels: OS101 Curriculum: Content Suggestions, Module: 1, Lesson: 2, OS101 Status: Curriculum

#785 M3 Key Terms: Data
  Module_3/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 3, OS101 Status: Curriculum

#786 M3 / L1 FAIR: Findable, Accessible, Interoperable, Reusable
  Module_3/Lesson_1/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 3, Lesson: 1, OS101 Status: Curriculum

#788 M3 / L4 Should Data Be Shared
  Module_3/Lesson_4/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 3, Lesson: 4, OS101 Status: Curriculum

#789 M3 / L3 Making the Data Reusable Through Licensing
  Module_3/Lesson_3/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 3, Lesson: 3, OS101 Status: Curriculum

#791 M5 / L1 What is the Reproducibility Crisis
  Module_5/Lesson_1/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 5, Lesson: 1, OS101 Status: Curriculum
