Repository nasa/Transform-to-Open-Science, pull requests merged in 2024-06, with the labels that each got.

#683 Fixing typos
  Module_1/Lesson_1/readme.md
  Module_1/Lesson_2/readme.md
  Module_1/Lesson_3/readme.md
  Module_1/Lesson_4/readme.md
  Module_1/Lesson_5/readme.md
  Module_1/readme.md
  Module_2/Lesson_1/readme.md
  Module_2/Lesson_2/readme.md
  Module_2/Lesson_3/readme.md
  Module_2/Lesson_4/readme.md
  Module_2/Lesson_5/readme.md
  Module_2/readme.md
  Module_3/Lesson_1/readme.md
  Module_3/Lesson_2/readme.md
  Module_3/Lesson_3/readme.md
  Module_3/Lesson_4/readme.md
  Module_3/Lesson_5/readme.md
  Module_4/Lesson_1/readme.md
  Module_4/Lesson_2/readme.md
  Module_4/Lesson_4/readme.md
  Module_4/Lesson_5/readme.md
  Module_5/Lesson_1/readme.md
  Module_5/Lesson_2/readme.md
  Module_5/Lesson_3/readme.md
  Module_5/Lesson_4/readme.md
  Module_5/Lesson_5/readme.md
  README.md
Labels: OS101 Curriculum: Content Suggestions, Module: 1, Module: 2, Module: 3, Module: 4, Module: 5, OS101 Status: Curriculum, OS101 Status: GitHub

#661 typos
  Module_4/Lesson_3/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 4, Lesson: 3, OS101 Status: Curriculum

#713 Minor typo in readme.md
  Module_2/Lesson_3/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 2, Lesson: 3, OS101 Status: Curriculum, OS101 Status: GitHub

#714 Missing period in readme.md
  Module_2/Lesson_3/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 2, Lesson: 3, OS101 Status: Curriculum

#660 typos
  Module_4/Lesson_2/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 4, Lesson: 2, OS101 Status: Curriculum

#712 Removed data.gov from National Repositories list and replaced with other examples
  Module_3/Lesson_2/readme.md
Labels: OS101 Curriculum: Content Suggestions, Module: 3, Lesson: 2, OS101 Status: Curriculum, OS101 Status: GitHub
